header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; /* Pour s'assurer que le header est opaque */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optionnel : ajoute une ombre légère */
}

.main {
    margin-top: 80px; /* Ajustez cette valeur selon la hauteur de votre header */
    position: relative;
    width: 100%;
    padding: 20px;
} 